* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-image: url("images/net-bg.jpg");
  background-size: cover;
  position: relative;
}

.dark {
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px 0 150px;
}
.header img {
  position: relative;
  z-index: 1;
  height: 100%;
}

.header .option-con {
  position: relative;
  z-index: 1;
}

.option-con select {
  height: 35px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.277);
  background: transparent;
  background-color: rgba(255, 255, 255, 0.057);
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-weight: 500;
  margin-right: 35px;
}

.option-con button {
  height: 35px;
  width: 80px;
  background-color: #e50914;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  padding: 5px;
  border: none;
}

.start {
  height: 80%;
  width: 100%;
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-content {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.start-content h1 {
  font-size: 50px;
  font-weight: 900;
}

.start-content .p1 {
  font-size: 25px;
}

.start-content .p2 {
  font-size: 20px;
}

.get input {
  height: 50px;
  width: 400px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.576);
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(220, 220, 220, 0.249);
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
}

.get button {
  height: 50px;
  width: 250px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
}

.gap {
  height: 10px;
  width: 100%;
  background-color: #232323;
}

.page2 {
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-con {
  height: 80%;
  width: 80%;
  /* background-color: #fff; */
  display: flex;
}

.page2-box {
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  color: white;
}

 .page2-box-text{
  padding: 40px;
}

.page2-box-text h1 {
  font-size: 45px;
  font-weight: 900;
}

.page2-box-text p {
  font-size: 24px;
  margin-top: 10px;
}

.page2-box img {
  position: absolute;
  height: 70%;
  z-index: 2;
}

.page2-box video {
  position: relative;
  z-index: 1;
  height: 60%;
  left: 80px;
  bottom: 15px;
}

.page3 {
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3-con {
  height: 80%;
  width: 80%;
  /* background-color: aliceblue; */
  display: flex;
}

.page3-box {
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: white;
}

.page3-box h1 {
  font-size: 45px;
  font-weight: 900;
}

.page3-box p {
  font-size: 25px;
}

.page3-box img {
  height: 60%;
  position: absolute;
}

.page3-box .card {
  height: 100px;
  width: 300px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  position: relative;
  left: 125px;
  top: 130px;
  background-color: black;
  display: flex;
  overflow: hidden;
}

.card-img {
  width: 30%;
  height: 100%;
  /* background-color: #e50914; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  height: 90%;
}
.card-text {
  width: 40%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-text h4 {
  font-size: 16px;
  font-weight: 500;
}

.card-text p {
  font-size: 15px;
  font-weight: 300;
  color: rgb(65, 65, 249);
}
.card-animate {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  padding: 20px;
}

.card-animate img {
  height: 60%;
}

.page5 {
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page5-con {
  height: 80%;
  width: 80%;
  /* background-color: white; */
  display: flex;
  color: white;
}

.page5-box {
  height: 100%;
  width: 50%;
  /* background-color: blue; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page5-box img {
  height: 100%;
  width: 100%;
}

.page5-box h1 {
  font-size: 50px;
  font-weight: 900;
}
.page5-box p {
  font-size: 23px;
}
.page5-text {
  padding: 30px;
}

.page4-video img {
  height: 60%;
  width: 40%;
  position: absolute;
  z-index: 2;
}
.page4-video video {
  position: relative;
  height: 80%;
  width: 65%;
  left: 110px;
  bottom: 80px;
  z-index: 1;
}

.page6 {
  min-height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page6 .heading {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.page6 .drop-down {
  min-height: 80vh;
  width: 78%;
  padding: 20px;
  /* background-color: aqua; */
}
.drop-down .down-section {
  height: 13.13vh;
  width: 100%;
  background-color: #2d2d2d;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  transition: all ease 0.3s;
}
.down-section:hover {
  background-color: #414141;
}
.down-section p {
  font-size: 25px;
}
.down-section i {
  font-size: 25px;
}

.drop-down .drop-para {
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
  margin: 0 10px 2px 10px;
  font-size: 25px;
  padding: 20px;
  display: none;
}
.drop-down1 {
  display: none;
}

.ready {
  height: 100%;
  width: 100%;
  padding: 50px;
}

.ready {
  font-size: 22px;
  text-align: center;
}
.ready-email {
  padding: 30px;
}

.footer {
  height: 60vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9d9d9d;
}
.footer a {
  color: #9d9d9d;
}
.footer .foot-con {
  height: 70%;
  width: 80%;
  /* background-color: #e50914; */
}

.foot-con .foot-box-con {
  height: 60%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
}

.foot-boxes {
  width: 25%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.foot-boxes a {
  font-size: 14px;
}

.in {
  padding: 30px 0 0 0;
}

@media only screen and (min-device-width:320px) and (max-device-width: 768px) {
  .header {
    padding: 0 20px 0 20px;
    height: 10vh;
  }
  .header img{
    height: 70%;
  }

  .page2-con,
  .page3-con,
  .page5-con {
    flex-direction: column;
  }

  .page3-box .card {
    left: 0;
  }

  .ready-email input {
    /* width: 120px; */
  }

  .option-con select{
    margin-right: 10px;
    width: 80px;
  }
  .option-con button{
    width:70px;
  }
  .page1{
    height: 60vh;
  }
  .start{
    text-align: center;
    justify-content: start;
    padding: 15px;
  }
  .start-content{
    gap:15px;
    
  }
  .start-content h1{
    font-size: 30px;
    font-weight: 800;
  }

  .start-content .p1{
    font-size: 18px;
  }

  .start-content .p2{
    font-size: 18px;
  }
  .get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .get input{
    width:230px;
    margin: 20px;
  }
  .get button{
    width: 150px;
    /* font-size: 15px; */
  }
  .dark{
    height: 60vh;
  }

  .page2-con{
    width: 100%;
  }
  .page2-box{
    width: 100%;
    text-align: center;
    justify-content: start;
  }
  .page2-box-text{
    padding: 0 40px 0 40px;
  }
  .page2-box img{
    width: 100%;
    height: 50%;
  }
  .page2-box video{
    width: 75%;
    height: 100%;
  }
  
  .page3-con{
    width: 100%;
    flex-direction: column-reverse;
  }
  .page3-box{
    width: 100%;
    text-align: center;
    justify-content: start;
    padding: 0 40px 0 40px;
  }
  .page3-box #res{
    width: 80%;
    height: 30%;
  }

  .page3-box .card{
    left:50px;
    top:180px;
    width: 400px;
  }
}
